<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>
        const ROOM_ID = "<%= roomid %>";
       var Data = JSON.parse('<%-JSON.stringify(list)%>');
       
        var list = JSON.parse('<%-JSON.stringify(userList)%>');

        const USERS = Data.username;
        console.log(list.length)
        console.log(USERS)
    </script>
</head>
<body>
    <div class="main">
        <div class="main__left">
            <div id="display">                 
            </div>
            <div id="list_display">
                <video class="record__video" width="220" height="240" controls style="visibility:hidden;">
                    <source type="video/mp4">
                </video>
            </div>
            <div class="left__controls">
                <div class="main__controls1">
                    <span class="icons__name main__mute_button" style="font-size: 30px; color: white;">
                        <i class="fas fa-microphone"></i>
                        <span style="font-size:18px">Mute</span>
                    </span>
                    <span class="icons__name main__video__button" style="font-size: 30px; color: white;">
                        <i class="fas fa-video"></i>
                        <span style="font-size:18px">Video</span>   
                    </span>          
                    <div class="main__controls2">
                        <span class="icons__name main__control__ppl" style="font-size: 30px; color: white;">
                            <i class="fas fa-users"></i>
                            <span style="font-size:18px">Peoples</span>
                        </span>
                        <span class="icons__name main__control__chat" style="font-size: 30px; color: white;">
                            <i class="fas fa-comments"></i>
                            <span style="font-size:18px">chat</span>
                        </span>
                        <span id="start" class="icons__name main__record__button" style="font-size: 30px; color: white;">
                         
                                <i  class="fas fa-record-vinyl"></i>
                                <span style="font-size:18px">Record</span>
                                    
                        </span>
                        <span id="stop" class="icons__name main__record__button" style="font-size: 30px; color: white;visibility:hidden;">
                                <i class="unmute fas fa-stop"></i>
                                <span style="font-size:18px">Stop</span>
                        </span>
                        <span class="icons__name main__control__hand" style="font-size: 30px; color: white;">
                            <i onclick="handPaper()"  class=" fas fa-hand-paper"></i>
                            <span style="font-size:18px">Raise</span>
                        </span>
                        <span id="startScreen" class="icons__name main__control__hand" style="font-size: 30px; color: white;">
                            <i class=" fas fa-desktop"></i>
                            <span style="font-size:18px">Share Screen</span>
                        </span>
                     
                        <div class="main__controls__block">
                            <div class="main__controls__button">
                                <p onclick="leaveMeeting()" class="leave_meeting">Leave Meeting</p>
                            </div>
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>
        <div class="main__right">
            <div class="chat">
                <h4>chat</h4>
                <div class="chatContent">
                    <div class="chat__messages">
                        <ul class="chat__messages__list">
                        </ul>
                    </div>
                    <input class="input__msg" type="text" placeholder="Type your message" />
                </div>
            </div>
            <div style="display:none;" class="userslist">
                <div class="usersList__scroll">
                        <ul class="main__right__usersList">
                            List of users
                        </ul>
                </div>
                <div class="bottomUsersList">
                    <div class="attendance">
                        <form method="GET" action="http://localhost:3030/refresh">
                            <button class="btn btn-dark" type="submit">Refresh</button>
                        </form>
                        <form method="GET" action="http://localhost:3030/atte">
                            <button class="btn btn-info" type="submit">Attendance</button>
                        </form>
                    </div>
                        <div class="roominfo">
                            <p>
                            <h6>ROOM ID:</h6><%= roomid %></p>
                        </div>
                </div>
            </div>                   
        </div>
    </div>
    <script src="script.js"></script>
    <!-- <script src="shareScreen.js"></script> -->
</body>
</html>