#display{
    flex:0.6;
    display:flex;
    /* flex-direction:row; */
    flex-grow: 1;
    background: black;
    border-right: 1px solid black;
     white-space: nowrap;
    /* height: 88vh; */
    /* padding:20px; */
    align-items: center;
    justify-content: center;
}
.displayScroll{
    
}
#list_display{
    flex:0.2;
    background-color: black;
    display:flex;
    flex-direction: row;
}
#list_display video{
    height:100px;
    width:100px;
    cursor:pointer;  
}
video{
    margin:10px;
    height:500px;
    width:500px;
    cursor:pointer;
}
.main{
    display:flex;
    min-height:80vh;
}
.main__left{
    flex:0.8;
    display:flex;
    flex-direction:column;
    max-height: 100vh;
}
.main__right{
    flex:0.2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: whitesmoke;
}
.main__controls1,.main__controls2{
    flex:0.2;
    background-color: #1c1c1c;
    height:100px;
    display: flex;
    align-items: center;
    padding: 20px;   
}
.icons__name{
    display: flex;
    flex-direction: column;
    margin:20px;
    padding:10px;
    cursor: pointer;

    align-items: center;
    justify-content: center;
}
.icons__name:hover{
    /* display: block; */
    background-color: rgba(245, 245, 245, 0.733);
}
i{
    margin-bottom: 6px;
}
iframe{
    border:none;
    outline:none;
}
.fa-microphone-slash,.fa-video-slash{
    color:red;
}
h4 {
        text-align: center;
        font-size: 18px;

    }

    .chatContent {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .chat__messages,.usersList__scroll{
        flex-grow: 1;
        flex: 1;
        overflow: scroll;    
    }
    .input__msg {
        height: 50px !important;
        width: 100%;
        outline: none;
        border-radius: 15px;
        border: none;
        z-index: 1;
        background-color: transparent;
    }
    .chat__convo{
        list-style: none;
        font-size:15px;
        margin:5px;
   
    }
    .user__list{
           list-style: none;
        font-size:15px;
        margin:5px;
        cursor:pointer;
        padding-bottom: 10px;
        flex-grow: 1;
        flex: 1;
        display:flex;
        flex-direction: row;

    }
    li i{
        margin:6px;
    }
    .userslist__icons{
        /* margin-left:15px; */
        /* height: 90px; */
    }
    .attendance{
        display:flex;
        flex-direction: row;
        position: absolute;
        bottom:80px;
        align-items: center;
        justify-content: center;
    }
    .bottomUsersList{
         display:flex;
        flex-direction: column;
        position: absolute;
        bottom:10px;
        align-items: center;
        justify-content: center;
    }
    .btn{
        margin:10px;
    }
    .leave_meeting{
        color:tomato;
        cursor: pointer;
        margin-left:100px;
    }
    .record__video{
        margin-left: 100px;
    }